@font-face {
  font-family: gobCL_bold;
  src: url("./../fonts/gobCL_Bold.otf");
}

@font-face {
  font-family: gobCL_heavy;
  src: url("./../fonts/gobCL_Heavy.otf");
}

@font-face {
  font-family: gobCL_light;
  src: url("./../fonts/gobCL_Light.otf");
}

@font-face {
  font-family: gobCL_regular;
  src: url("./../fonts/gobCL_Regular.otf");
}

body {
  background-color: rgb(233, 233, 233);
}

.upper-nav {
  display: none;
  background-color: rgb(246, 186, 0);
}

#btn-toggler {
  background-color: rgb(253, 205, 61);
}

.page .sidebar {
  height: 100vh;
  width: 260px;
  background-color: rgb(247, 247, 247);
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.2s ease;
}

.page .content {
  margin-left: 260px;
  transition: all 0.2s ease;
}

body.active .page .sidebar {
  left: -260px;
}

body.active .page .content {
  margin-left: 0;
  width: 100%;
}

.sidebar {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
}

.sidebar-header {
  padding: 10px 15px 10px 15px;
}

.sidebar-logo-container {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  padding-left: 3px;
}

.logo-container {
  max-width: 50px;
  border-radius: 5px;
  margin: 8px;
  padding: 6px 8px;
}

.logo-sidebar {
  width: 100%;
  height: auto;
}

.brand-name-container {
  padding: 0px;
  margin: 10px 10px 0px 5px;
}

.brand-name {
  /* margin: 0px; */
  line-height: 1.1rem;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: gobCL_bold;
}

.profile {
  display: flex;
  font-family: gobCL_heavy;
}

/* .profile-pic {
  margin: 8px;
  padding: 6px 8px;
} */

.profile-name {
  margin: 20px 10px 0px 10px;
}

.user-name {
  /* margin: 0px; */
  margin-top: 10px;
  line-height: 1.1rem;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: gobCL_bold;
}

.navigation-list {
  list-style-type: none;
  padding: 0px 20px;
  margin-top: 20px;
  font-family: gobCL_light;
}

.navigation-list-item {
  /* background-color: red; */
  padding: 10px 18px 10px 18px;
  border-radius: 5px;
  margin: 15px 0px;
}

.navigation-list-item:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.navigation-link {
  color: black;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-decoration: none;
}

.navigation-list-item:hover .navigation-link {
  color: rgba(0, 0, 0, 0.7);
}

.navigation-list-item.active {
  background-color: rgb(0, 0, 0, 0.1);
  font-weight: 600;
}

.navigation-bar {
  /* position: fixed; */
  background-color: rgb(246, 186, 0);
  height: 50px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 10%);
}

.sidebar-toggler {
  background-color: rgb(253, 205, 61);
  font-size: 16px;
  margin-left: 10px;
  /* z-index: 999; */
}

.navbar {
  padding-top: 0;
}

.page-item {
  margin-left: 14px;
}

.page-item a {
  color: rgb(230, 230, 230);
  font-family: gobCL_bold;
}

.page-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.page-item a:hover {
  color: white;
}

.main {
  padding: 20px;
}

.collapse-links {
  margin-top: 12px;
}

.collapse-links li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.collapse-links li a {
  font-family: gobCL_bold;
  color: rgb(230, 230, 230) !important;
  padding: 15px 0px 15px 5px !important;
}

.collapse-links li a:hover {
  color: white !important;
}

.panel {
  position: relative;
  background-color: rgb(247, 247, 247);
  padding: 18px 6px 18px 6px;
  border-radius: 5px;
  margin-bottom: 0.553rem;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  font-family: gobCL_regular;
}

.panel-header {
  font-family: gobCL_bold;
  display: flex;
  flex-direction: row;
}

.form-control {
  font-family: gobCL_light;
  background-color: inherit !important;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2.5px solid;
  border-color: rgba(116, 116, 116, 0.308);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.form-control:focus {
  border-color: rgb(246, 186, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgb(246, 186, 0, 0.6);
}

.form-horizontal {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.btn-hdo {
  background-color: rgb(246, 186, 0);
  color: white;
  margin-left: 10px;
  border-radius: 20px;
}

.btn-hdo:hover {
  background-color: rgb(165, 124, 0);
  color: white;
}

.btn-hdo:focus {
  box-shadow: none;
  color: white;
  background-color: rgb(246, 186, 0);
}

.btn-wave {
  background-position: center;
  transition: background 1.5s;
}

.btn-wave:hover {
  background-color: rgb(241, 193, 46);
  background-image: radial-gradient(circle, transparent 1%, rgb(241, 193, 46) 1%);
  background-position: center;
  background-size: 150000%;
}

.btn-wave:active {
  transition: background 0s;
  background-color: rgb(240, 212, 130);
  /* opacity: 0.7; */
  background-size: 100%;
  transform: translateX(-1px) translateY(1px);
}

.ls-1 {
  letter-spacing: 1px;
}

.form-check-label {
  font-family: gobCL_light;
}

.form-check-input:focus {
  box-shadow: none;
  border: rgb(207, 155, 0);
}

.input-hdo:checked {
  border: rgb(207, 155, 0);
  background-color: rgb(246, 186, 0);
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  min-height: 50px;
  height: auto;
  border-radius: 0 0 5px 5px;
  padding: 7px;
}

.btn:focus {
  box-shadow: none;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-top: 2px;
  color: white;
  border-radius: 5px;
  background-color: #001EA8;
  padding-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.tag-remover {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}

.top-separator {
  display: none;
}

.select-search {
  border-radius: 3px;
  border-top: 2.5px solid;
  border-bottom: 2.5px solid;
  border-left: 2.5px solid;
  border-right: 2.5px solid;
}

.toast {
  background-color: rgb(247, 247, 247);
}

.toast-header {
  background-color: rgb(247, 247, 247);
}

.btn-primary {
  border-radius: 20px;
  border: none;
  background-color: #001EA8 !important;
  margin-bottom: 5px;
}

.btn-primary:focus,
.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #001EA8 !important;
}

.bg-primary {
  background-color: #001EA8 !important;
}

@media screen and (min-width: 540px) and (max-width: 780px) {
  .upper-nav {
    padding: 9.5px 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 10%);
    width: 100%;
  }

  #btn-toggler {
    background-color: rgb(253, 205, 61);
    font-size: 16px;
    margin-left: 10px;
  }

  .sidebar {
    margin-top: 60px;
  }

  .sidebar-toggler {
    display: none;
  }

  .navigation-bar {
    display: none;
  }

  .top-separator {
    display: flex;
    padding: 20px;
  }

  .row-to-col {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .upper-nav {
    padding: 9.5px 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 10%);
    width: 100%;
  }

  #btn-toggler {
    background-color: rgb(253, 205, 61);
    font-size: 16px;
    margin-left: 10px;
  }

  .sidebar {
    margin-top: 60px;
  }

  .sidebar-toggler {
    display: none;
  }

  .navigation-bar {
    display: none;
  }

  .top-separator {
    display: flex;
    padding: 20px;
  }

  .row-to-col {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .upper-nav {
    padding: 9.5px 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 10%);
    width: 100%;
  }

  #btn-toggler {
    background-color: rgb(253, 205, 61);
    font-size: 16px;
    margin-left: 10px;
  }

  .sidebar {
    margin-top: 60px;
  }

  .sidebar-toggler {
    display: none;
  }

  .navigation-bar {
    display: none;
  }

  .top-separator {
    display: flex;
    padding: 20px;
  }

  .row-to-col {
    display: flex;
    flex-direction: column;
  }
}